.icon-btn {
    width:24px;
    height:24px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244,244,244);
}

.icon-btn:hover {
    transform: translateY(-2px);
    transition: all 0.5s ease-in-out;
    transition-duration: 0.3s;
}
